/* Header */
#header{
    width: 100%;
    height: 95vh;
}





/* Container */
#header_container{
    width: 100%;
    height: 100%;

    background-image: url("../../images/header/banner.png");
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
}#header_container::after{
    content: "";

    width: 100%;
    height: 100%;

    display: block;

    background-color: rgba(0, 0, 0, .5);

    position: absolute;
    top: 0;
    left: 0;
}





/* Top */
#header_top{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;

    padding: 2vh max(4vh, 4vw);
    position: fixed;
    z-index: 999;
    transition: background-color .25s
}.headerAnimationScroll#header_top{
    background-color: #fff;
}


/* Logo */
#header_top_logo h1{
    font-family: snubnose;
    color: #fff;

    transition: color .25s;
}.headerAnimationScroll#header_top_logo h1{
    color: var(--gray-40);
}


/* Menu */
#header_top_menu a{
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;

    padding: 0 max(1vh, 1vw);
    transition: color .25s;
}.headerAnimationScroll#header_top_menu a{
    color: var(--gray-40);
}#header_top_menu a:hover,
.headerAnimationScroll#header_top_menu a:hover{
    color: var(--orange);
}



/* Hamburguer icon */
#header_top_hamburguer{
    display: none;
}





/* Content */
#header_content{
    display: flex;
    justify-content: space-between;

    padding: 0 max(3vh, 3vw);
    padding-top: 15vh;
    position: relative;
    z-index: 9;
}



/* Text */
#header_content_text{
    max-width: 30vw;

    border: 1px solid red;
}
#header_content_text h1{
    font-family: snubnose;
    color: #fff;
    font-size: max(13vh, 6vw);
}
#header_content_text h2{
    font-family: snubnose;
    color: var(--orange);
    font-size: max(13vh, 6vw);;

    text-align: right;

    margin-bottom: 4vh;
}
#header_content_text p{
    color: #fff;
    font-size: max(3.5vh, 1.6vw);
}



/* Confirmation form */
#header_content_confirm{
    width: 26vw;

    border: 1px solid green;
    background-color: #fff;

    position: relative;
    box-sizing: border-box;
    padding: 5vh calc(2vh + 2vw);
}
/* Responsive confirmation */
#header_top_menu_closeResponsiveMenu,
#header_content_openModalConfirm,
#header_content_modalConfirm{
    display: none;
}


/* H1 */
#header_content_confirm_title{
    font-size: max(3vh, 1.5vw);
    text-align: center;

    margin-bottom: 5vh;
}

/* Form */
.confirmForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Input */
.confirmForm input{
    width: 100%;
    display: block;

    background-color: #ecf0f1;
    border-radius: max(1.5vh, 1.5vw);

    box-sizing: border-box;
    margin-bottom: 2vh;
    padding: 2vh;
}
/* Button */
.confirmForm button{
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: calc(1vh + 1vw);
    background: -webkit-linear-gradient(to right, #ff512f, #f09819);
    background: linear-gradient(to right, #ff512f, #f09819); 
    
    margin-top: 1vh;
    padding: max(2vh, 1vw) max(4.5vh, 2.5vw);
}



/* Countdown */
#header_content_countdown{
    background-color: rgb(40, 40, 40);
    border-radius: max(2vh, 1vw);

    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(69vh);
    overflow: hidden;

    padding: max(2.5vh, 1.5vw) max(2vh, 1vw);
}

/* Border top */
#header_content_countdown .borderTop{
    height: auto;

    text-align: center;

    color: #fff;
    text-transform: uppercase;

    padding: max(1vh, .6vw) 0;
}

/* Timer */
#header_content_countdown_timer{
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-top: max(5.5vh, 2.5vw);
}

#header_content_countdown_timer > div{
    display: flex;
    text-align: center;

    margin: 0 max(2.5vh, 1.5vw);
}
#header_content_countdown_timer p{
    color: #fff;
    font-size: max(4vh, 1.8vw);
}





/* Responsive */
/* 1024 */
@media screen and (max-width: 1024px){
    /* Menu */
    #header_top_menu{
        height: 100vh;

        display: none;
        text-align: center;

        background-color: #fff;

        padding: 0 max(4vh, 2vw);
        padding-top: max(4vh, 2vw);
        position: fixed;
        top: 0;
        right: -30%;
        z-index: 999999;
        transition: right .3s;
    }
    /* A */
    #header_top_menu a{
        display: block;

        color: var(--gray-40);

        margin-bottom: max(3vh, 1.5vw);
    }

    
    /* Hamburguer icon */
    #header_top_hamburguer{
        display: block;

        transition: transform .3s;
    }
    /* Span */
    #header_top_hamburguer span{
        width: max(6vh, 3vw);
        height: max(.5vh, .2vw);

        display: block;
        
        background-color: #fff;
        opacity: 1;

        margin-bottom: max(1.2vh, .6vw);
        transition: transform .3s, opacity .2s;
    }#header_top_hamburguer span:last-child{
        margin-bottom: none;
    }.headerAnimationScroll#header_top_hamburguer span{
        background-color: var(--gray-40);
    }

    /* Close responsive menu */
    /* Icon */
    #header_top_menu_closeResponsiveMenu{
        display: block;

        cursor: pointer;

        position: absolute;
        top: .5%;
        right: 2%;
        transition: color .2s;
    }#header_top_menu_closeResponsiveMenu:hover{
        color: red;
    }
}

/* 850 */
@media screen and (max-width: 850px){
    /* Text */
    #header_content_text{
        max-width: max(65vh, 37vw);
    }

    /* Confirmation form */
    #header_content_confirm{
        width: max(55vh, 32vw);
    }
}

/* 650 */
@media screen and (max-width: 650px){
    /* Text */
    #header_content_text{
        max-width: calc(33vw + 3vh);
    }

    /* Confirmation form */
    #header_content_confirm{
        width: calc(34vw + 6vh);
    }
}

/* 500 */
@media screen and (max-width: 500px){
    /* Content */
    #header_content{
        flex-direction: column;
        align-items: center;
    }

    /* Text */
    #header_content_text{
        max-width: calc(38vw + 6vh);
    }

    /* Confirmation form */
    #header_content_confirm{
        display: none;
    }

    /* Responsive confirmation */
    /* Button */
    #header_content_openModalConfirm{
        display: block;

        color: #fff;
        font-size: calc(1.5vh + 1vw);
        font-weight: 900;
        text-transform: uppercase;
        background: -webkit-linear-gradient(to right, #ff512f, #f09819);
        background: linear-gradient(to right, #ff512f, #f09819); 
        border-radius: calc(2vh + 2vw);

        margin-top: calc(1vh + 1vw);
        padding: calc(1vh + 1vw) calc(3vh + 3vw);
    }
    /* Modal */
    #header_content_modalConfirm{
        width: 100%;
        height: 100%;

        display: none;
        justify-content: center;
        align-items: center;

        background-color: rgba(0, 0, 0, 0.5);

        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
    }
    /* Container */
    #header_content_modalConfirm_container{
        background-color: #fff;

        padding: calc(2vh + 2vw) calc(3vh + 3vw);
        position: relative;
    }
    /* Close button */
    #header_content_modalConfirm_btnClose{
        color: #fff;
        font-size: calc(3vh + 3vw);
        cursor: pointer;

        position: absolute;
        transform: translateX(920%) translateY(-160%);
    }
    /* H1 */
    #header_content_modalConfirm_container h1{
        color: var(--gray-40);
        font-size: calc(2vh + 2vw);

        margin-bottom: calc(3vh + 3vw);
    }
}