/* Header */
#header{
    width: 100%;
    height: 95vh;
}





/* Container */
#header_container{
    width: 100%;
    height: 100%;

    background-image: url("../../images/header/pamfleto.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
}#header_container::after{
    content: "";

    width: 100%;
    height: 100%;

    display: block;

    background-color: rgba(0, 0, 0, .5);

    position: absolute;
    top: 0;
    left: 0;
}





/* Top */
#header_top{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;

    padding: 2vh max(4vh, 4vw);
    position: fixed;
    z-index: 999;
    transition: background-color .25s
}.headerAnimationScroll#header_top{
    background-color: #fff;
}


/* Logo */
#header_top_logo h1{
    font-family: snubnose;
    color: #fff;
    font-size: calc(1.9vh + .9vw);

    transition: color .25s;
}.headerAnimationScroll#header_top_logo h1{
    color: var(--gray-40);
}


/* Menu */
#header_top_menu a{
    color: #fff;
    text-transform: initial;
    font-weight: 500;
    font-size: calc(1.2vh + .6vw);

    padding: 0 max(1vh, 1vw);
    transition: color .25s;
}.headerAnimationScroll#header_top_menu a{
    color: var(--gray-40);
}#header_top_menu a:hover,
.headerAnimationScroll#header_top_menu a:hover{
    color: var(--orange);
}



/* Hamburguer icon */
#header_top_hamburguer{
    display: none;
}





/* Content */
#header_content{
    display: flex;
    justify-content: space-between;

    box-sizing: border-box;
    
    padding: 0 calc(2vh + 1vw);
    padding-top: 15vh;
    position: relative;
    z-index: 9;
}



/* Text */
#header_content_text{
    max-width: calc(30vh + 15vw);

    border: 1px solid red;
}
#header_content_text h1{
    font-family: snubnose;
    color: #fff;
    font-size: calc(6.5vh + 2.5vw);
}
#header_content_text h2{
    font-family: snubnose;
    color: var(--orange);
    font-size: calc(6.5vh + 2.5vw);

    text-align: right;

    margin-bottom: calc(3vh + .5vw);
}
#header_content_text p{
    color: #fff;
    font-size: calc(2.2vh + .8vw);
}



/* Confirmation form */
#header_content_confirm{
    width: auto;

    border: 1px solid green;
    background-color: #fff;
    box-sizing: border-box;

    position: relative;
    padding: 5vh calc(2vh + 2vw);
}
/* Responsive confirmation */
#header_top_menu_closeResponsiveMenu,
#header_content_openModalConfirm,
#header_content_modalConfirm{
    display: none;
}


/* H1 */
#header_content_confirm_title{
    font-size: calc(1.7vh + .6vw);
    text-align: center;

    margin-bottom: 5vh;
}

/* Form */
.confirmForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Input */
.confirmForm input{
    width: 100%;
    display: block;

    font-size: calc(1.2vh + .5vw);
    background-color: #ecf0f1;
    border-radius: max(1.5vh, 1.5vw);

    box-sizing: border-box;
    margin-bottom: max(2vh, 1vw);
    padding: max(2vh, 1vw);
}.confirmForm input::placeholder{
    font-size: calc(1.1vh + .5vw);
    font-weight: 700;
}
/* Button */
.confirmForm button{
    color: #fff;
    font-weight: 700;
    font-size: calc(1.2vh + .5vw);
    text-transform: uppercase;
    border-radius: calc(1vh + 1vw);
    background: -webkit-linear-gradient(to right, #ff512f, #f09819);
    background: linear-gradient(to right, #ff512f, #f09819); 
    
    margin-top: 1vh;
    padding: calc(1vh + .4vw) calc(2vh + 1vw);
}



/* Countdown */
#header_content_countdown{
    background-color: rgb(40, 40, 40);
    border-radius: calc(1.5vh + .6vw);

    position: absolute;
    bottom: -31vh;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

/* Border top */
#header_content_countdown .borderTop{
    height: auto;

    text-align: center;

    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: calc(1.2vh + .7vw);

    padding: calc(.7vh + .3vw) 0;
    position: relative;
}

/* Timer */
#header_content_countdown_timer{
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: calc(1vh + .5vw) calc(1vh + .5vw);
}

#header_content_countdown_timer > div{
    display: flex;
    text-align: center;

    margin: 0 calc(1vh + .5vw);
}
#header_content_countdown_timer p{
    color: #fff;
    font-size: calc(1.7vh + .9vw);
}





/* Responsive */
/* 1024 */
@media screen and (max-width: 1024px){
    /* Menu */
    #header_top_menu{
        height: 100vh;

        display: none;
        text-align: center;

        background-color: #fff;

        padding: 0 max(4vh, 1.8vw);
        padding-top: max(5.2vh, 2.2vw);
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 999999;
        transition: right .4s;
    }
    /* A */
    #header_top_menu a{
        display: block;

        color: var(--gray-40);
        font-size: calc(2vh + .7vw);

        margin-bottom: max(3vh, 1.5vw);
    }

    
    /* Hamburguer icon */
    #header_top_hamburguer{
        display: block;

        cursor: pointer;

        transition: transform .3s;
    }
    /* Span */
    #header_top_hamburguer span{
        width: calc(5vh + 1vw);
        height: calc(.4vh + .1vw);

        display: block;
        
        background-color: #fff;
        opacity: 1;

        margin-bottom: calc(.7vh + .2vw);
        transition: transform .3s, opacity .2s;
    }#header_top_hamburguer span:last-child{
        margin-bottom: none;
    }.headerAnimationScroll#header_top_hamburguer span{
        background-color: var(--gray-40);
    }

    /* Close responsive menu */
    /* Icon */
    #header_top_menu_closeResponsiveMenu{
        display: block;

        cursor: pointer;
        font-size: calc(4vh + 1.5vw);

        position: absolute;
        top: .5%;
        right: 2%;
        transition: color .2s;
    }#header_top_menu_closeResponsiveMenu:hover{
        color: red;
    }
}

/* 650 */
@media screen and (max-width: 650px){
    /* Confirmation form */
    #header_content_confirm{
        width: calc(28vh + 12vw);
    }
}

/* 500 */
@media screen and (max-width: 500px){
    /* Header */
    #header{
        width: 100%;
        height: 70vh;
    }

    /* Content */
    #header_content{
        height: 100%;
        
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    /* Confirmation form */
    #header_content_confirm{
        display: none;
    }


    /* Responsive confirmation */
    /* Button */
    #header_content_openModalConfirm{
        display: block;

        color: #fff;
        font-size: calc(1.5vh + 1vw);
        font-weight: 900;
        text-transform: uppercase;
        background: -webkit-linear-gradient(to right, #ff512f, #f09819);
        background: linear-gradient(to right, #ff512f, #f09819); 
        border-radius: calc(2vh + 2vw);

        margin-top: calc(1vh + 1vw);
        padding: calc(1vh + 1vw) calc(3vh + 3vw);
    }
    /* Modal */
    #header_content_modalConfirm{
        width: 100%;
        height: 100%;

        display: none;
        justify-content: center;
        align-items: center;

        background-color: rgba(0, 0, 0, 0.5);

        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
    }
    /* Container */
    #header_content_modalConfirm_container{
        background-color: #fff;

        padding: calc(2vh + 2vw) calc(3vh + 3vw);
        position: relative;
    }

    /* Close button */
    #header_content_modalConfirm_btnClose{
        color: var(--gray-40);
        font-size: calc(3.5vh + 1.2vw);
        cursor: pointer;

        position: absolute;
        top: 1%;
        right: 1%;
    }#header_content_modalConfirm_btnClose:hover{
        color: red;
    }

    /* H1 */
    #header_content_modalConfirm_container h1{
        color: var(--gray-40);
        font-size: calc(2vh + 2vw);

        margin-bottom: calc(3vh + 3vw);
    }

    /* Form */
    /* Input */
    #header_content_confirm_form input{
        font-size: calc(1.7vh + .5vw);
    }
    #header_content_confirm_form input::placeholder{
        font-size: calc(1.7vh + .5vw);
        font-weight: 700;
    }

    /* Button */
    #header_content_confirm_form button{
        font-size: calc(1.7vh + .5vw);
        font-weight: 700;

        /* padding: calc(); */
    }


    /* Countdown */
    #header_content_countdown{
        bottom: -5%;
        left: 50%;
        transform: translateX(-50%) translateY(0);
    }
}