#partyLocation{
    background-color: rgb(40, 40, 40);

    padding: var(--padding-section);
}





/* h1 */
#partyLocation h1{
    color: #fff;
}





/* Address */
#partyLocation_address{
    display: flex;
    justify-content: space-around;
}

#partyLocation_address_text p{
    color: #fff;
    font-weight: normal;
    font-size: calc(1vh + 1.2vw);

    margin-bottom: calc(1vh + .5vw);
}#partyLocation_address_text p:last-child{
    margin-bottom: 0;
}
#partyLocation_address_text p span{
    display: block;

    color: #fff;
    font-weight: bold;
}

/* Iframe */
#partyLocation_address iframe{
    width: 50%;
    height: auto;
}