#partyLocation{
    background-color: rgb(40, 40, 40);

    padding: calc(3vh + 1vw);
}





/* h1 */
#partyLocation h1{
    display: inline-block;

    color: #fff;
    font-size: var(--title_fontSize);

    margin-bottom: calc(2vh + 2vw);
    position: relative;
}#partyLocation h1::after{
    content: "";

    width: 30%;
    height: 1vh;

    display: block;

    background: linear-gradient(to right, #ff512f, #f09819);
    background: -webkit-linear-gradient(to right, #ff512f, #f09819);

    position: absolute;
    bottom: -5%;
    left: 0;
}





/* Address */
#partyLocation_address{
    display: flex;
    justify-content: space-around;
}

#partyLocation_address_text p{
    color: #fff;
    font-weight: normal;
    font-size: calc(1vh + 1.2vw);

    margin-bottom: calc(1vh + .5vw);
}
#partyLocation_address_text p span{
    display: block;
    font-weight: bold;
}

/* Iframe */
#partyLocation_address iframe{
    width: 50%;
    height: auto;
}