#aboutParty{
    background: linear-gradient(to right, #ff512f, #f09819);
    background: -webkit-linear-gradient(to right, #ff512f, #f09819);

    padding: calc(6vh + 1.5vw) calc(1vh + 1vw);
}





/* Title */
#aboutParty_title{
    color: #fff;

    margin-bottom: var(--title_marginBottom);
}
#aboutParty_title h1{
    font-size: var(--title_fontSize);
}
#aboutParty_title p{
    font-size: calc(1.5vh + 1.1vw);
    max-width: 65%;
}





/* Item */
.aboutParty_item{
    width: 100%;

    display: flex;

    margin-bottom: calc(5vh + 2vw);
}.aboutParty_item:last-child{
    margin-bottom: 0;
}
/* Align items */
.aboutParty_item:nth-child(odd){
    justify-content: flex-end;
}

/* Card */
.aboutParty_item_card{
    width: 70vw;

    display: flex;
    justify-content: space-between;

    background-color: var(--gray-40);
    border-radius: calc(1vh + 1vw);

    padding: 5vh 2vw;
}

/* Text */
.aboutParty_item_text{
    box-sizing: border-box;
    
    padding: 0 calc(1vh + 1vw);
}
/* H3 */
.aboutParty_item_text h3{
    color: #fff;
    font-size: calc(2.5vh + 2.5vw);

    margin-bottom: 4vh;
}
.aboutParty_item_text i{
    height: calc(3vh + 2vw);

    display: inline-block;
}
.aboutParty_item_text h3 i img{
    height: 100%;
}

/* P */
.aboutParty_item_text p{
    color: #fff;
    font-size: calc(1vh + 1vw);
}

/* Image */
.aboutParty_item_image{
    max-width: 30vw;
    max-height: calc(20vh + 10vw);
}
